
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


.flex{
    display: flex;
    justify-content: center;
    gap: 2rem;
}


.btn {
    color: white;
    background-color: rgb(63, 68, 214);
    padding: 1rem;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(55, 60, 186);
}