
/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabecera de la página */
.sidebar{
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.204);
}

.sidebar__ul {
    height: 5rem;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.sidebar__li {
    list-style: none;
}

.sidebar__a {
    text-decoration: none;
    color: black;
}

/* Cuerpo de la pagina INDEX */
main{
    min-height:calc(100vh - 178px);
}
h1{
    margin: 1rem;
    text-align: center;
}

/* Descripción con shadow */
.description {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.167);
    margin: 1rem;
    border-radius: .6rem;
    text-align: center;
}
.description__p {
    color: rgb(0, 0, 0);
    padding: 2rem;
    text-shadow: 
        1px 1px white,
        5px 5px 3px rgb(155, 189, 169);
}
/* Flex */
.photos, .container--flex{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Tamaño de todas las imagenes */
.photos__figure img {
    width: 300px;
    border-radius: 0.6rem;
}

/* Filtros al hacer hover en las imagenes */

.img{
    transition: 1s;
    cursor: pointer;
}
.img__a:hover {
    filter: blur(.3125rem);
    transition: 1s;
}
.img__b:hover {
    filter:brightness( .4);
    transition: 1s;
}
.img__c:hover {
    filter:contrast( 200%) ;
    transition: 1s;
}
.img__d:hover {
    filter: drop-shadow(16px 16px 20px rgb(3, 77, 71));
    transition: 1s;
}
.img__e:hover {
    filter: grayscale(90%);
    transition: 1s;
}
.img__f:hover {
    filter: hue-rotate(90deg);
    transition: 1s;
}
.img__g:hover {
    filter: invert(75%);
    transition: 1s;
}
.img__h:hover {
    filter: opacity(50%);
    transition: 1s;
}
.img__i:hover {
    filter: saturate(10%);
    transition: 1s;
}
.img__j:hover {
    filter: sepia(90%);
    transition: 1s;
}

/* Cuerpo nivel 2 */
.container--border {
    background-image: url(../images/plant-6.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    transition: 3s;
    border-radius: 1rem;
}
.container--border:hover {
    transition: 3s;
    padding: 3.125rem;
    box-shadow: 1px 1px 5px rgb(26, 165, 105);
    width: 300px;
    height: 300px;
}

.b:hover{
    filter: opacity(50%) ;
}


/* Cuerpo nivel 3 */
.found{
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    background-color: rgb(152, 187, 182);
}

/* Rotaciones de div */
.rotation, .gradient{
    transition: 2s;
    width: 100px;
    height: 100px;
}
.rotation:nth-child(1), .gradient:nth-child(1) {
    background-color: rgb(115, 163, 156);
}

.rotation:nth-child(2),  .gradient:nth-child(2) {
    background-color: rgb(67, 81, 79);
}

.rotation:nth-child(3),  .gradient:nth-child(3) {
    background-color: rgb(152, 187, 182);
}

.rotation:nth-child(1):hover {
    transition: 2s;
    transform: rotate(100deg) scale(1.5);
    transform-origin: center;
    background-color: rgb(138, 159, 156);
}

.rotation:nth-child(2):hover {
    transition: 2s;
    transform: rotate(200deg) scale(2);
    transform-origin: center;
    background-color: rgb(42, 51, 50);
}

.rotation:nth-child(3):hover {
    transition: 2s;
    transform: rotate(300deg) scale(3);
    transform-origin: center;
    background-color: rgb(191, 236, 230);
}

.gradient:nth-child(1):hover {
    background: linear-gradient(90deg,rgb(76, 147, 131) 50%, rgba(23, 122, 112, 1) 100%);

}

.gradient:nth-child(2):hover {
    background: radial-gradient(circle,rgb(76, 147, 131) 50%, rgba(23, 122, 112, 1) 100%);

 
}

.gradient:nth-child(3):hover {
    background: linear-gradient( 10deg,rgb(76, 147, 131) 50%, rgba(23, 122, 112, 1) 50%);


}