/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
  width: 80%;
  margin: 0 auto;
}

hr {
  margin: 1rem 0;
}

.swiper {
  width: 90%;
  box-shadow: 1px 1px 5px rgba(51, 62, 32, 0.662);
  border-radius: .5rem;
}

img {
  width:100%;
}

/* Slide Class manual*/
.my__slides {
  display: none;
}

.slideshow__container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position:absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  transition: .6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.numbertext {
  color: aliceblue;
  font-size: .75rem;
  padding: .5rem .75rem;
  position: absolute;
  top: 0;
} 

.dot {
  cursor: pointer;
  height: .9375rem;
  width: 15px;
  margin: 0 .125rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
} 