
/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Stack Sans Notch", sans-serif;
}

main{
    background: linear-gradient(white,rgb(190, 206, 200));
}
h2{
    margin: 3rem;
    text-align: center;
    color: rgb(5, 85, 54);
}

h1{
    padding: 2rem;
    text-align: center;
    color: white;
    background-color: rgba(5, 85, 54, 0.564);
    box-shadow: 2px 2px 10px rgb(5, 85, 54);
}

.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Ejercicio 1 */
.container--1 {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3 ,200px);
    grid-gap: 10px;
    text-align: center;
}

.box {
    box-shadow: 1px 1px 5px rgb(3, 36, 23);
    background-image: url(../images/plant-7.jpg);
    background-attachment: fixed;
    border-radius: 5px;
    padding: 40px;
    color: rgb(255, 255, 255);
}

/* Ejercicio 2 */
.a {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;    
}

.b{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.c{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.d{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.e{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.f{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Ejercicio 3 */

.a1{
    grid-column: 2/ 3;
    grid-row: 1/ 2;
}

.b1{
    grid-column: 2/ 3;
    grid-row: 2/ 3;
}

.c1{
    grid-column: 3/ 4;
    grid-row: 2/ 3;
}

.d1{
    grid-column: 1/ 2;
    grid-row: 1/ 2;
}

.e1{
    grid-column: 1/ 2;
    grid-row: 2/ 3;
}

.f1{
    grid-column: 3/ 4;
    grid-row: 1/ 2;
}

/* Ejercicio 4 */
.a2{
    grid-area: 1/ 2/ 2/ 3;
}

.b2{
    grid-area: 2/ 2/ 3/ 3;
}

.c2{
    grid-area: 2/ 3/ 3/4;
}

.d2{
    grid-area: 1/ 1 / 2/ 2;
}

.e2{
    grid-area: 2/ 1/ 3/2;
}

.f2{
    grid-area: 1 / 3/ 2/ 4;
}

/* Ejercicio 5 */

.a3{
    grid-column:1/3 ;
    grid-row: 1;
}

.b3{
    grid-column: 3/ 4;
    grid-row: 1/ 3;
}

.c3{
    grid-column: 1;
    grid-row: 2;
}

.d3{
    grid-column: 2;
    grid-row: 2;
}

/* Ejercicio 6 */

.a4{
    grid-column:1/3 ;
    grid-row: 1;
}

.b4{
    grid-column: 3;
    grid-row: 1/ 3;
}

.c4{
    grid-column: 1;
    grid-row: 2;
}

.d4{
    grid-column: 2;
    grid-row: 2;
}

.e4{
    grid-column: 4/5;
    grid-row: 1/4;
}
