
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


h1{
  margin: 1rem;
}

.container{
  margin: 0 auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
h3{
  padding: 1rem;
  position: fixed;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 2px solid white;
  box-shadow: 1px 1px 5px black;
  text-shadow: 2px 2px 2px black;
}

.container:nth-child(1) {
  background-image: url(../images/img-1.jpg);
}

.container:nth-child(2) {
  background-image: url(../images/img-2.jpg);
}

/* Level 2 */
.level2 , .level3{
  position: relative;
  z-index: 2;
  background-color: white;
}

#container {
  margin: 10em auto;
  height: 10em;
  width: 10em;
  position: relative;
}

#square {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 100%;
  background-color: #e9e2df;
  box-shadow: inset -10px -5px 0 0 rgb(178,190,195,.3);
}

.eyeball {
  width: 50%;
  height: 50%;
  background: #0786aa;
  position: absolute;
  left: 25%;
  top: 25%;
  border-radius: 100%;
  overflow: hidden;
}

.eyeglow {
  width: 10%;
  height: 11%;
  background: #eaeaea;
  position: absolute;
  left: 40%;
  top: 30%;
  border-radius: 100%;
  overflow: hidden;
}

.iris {
  width: 40%;
  height: 40%;
  background: #000000;
  position: absolute;
  left: 25%;
  top: 25%;
  border-radius: 100%;
  overflow: hidden;
}


/* Level 3 */


