
/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 600vh;
}
.container__p {
    scroll-snap-align: center;
    position: relative;
    height: 300vh;
    width: 50vw;
}

.p--1{
    inset: 50px auto auto 25px;
    background-color: antiquewhite;
}

.p--2{
    inset: auto 25vw 50px auto;
    background-color: azure;
}


div{
    width: 3rem;
    height: 3rem;
    position: absolute;
}

.container__1 {
    background-color: rgb(80, 173, 255);
    inset: 0 auto auto 0;
}

.container__2 {
    background-color: rgb(255, 255, 93);
    inset: 0 0 auto auto;
}

.container__3 {
    background-color: rgb(255, 90, 233);
    inset: auto 0 0 auto;
}

.container__4 {
    background-color: rgb(255, 83, 83);
    inset: auto auto 0 0;
}

.container__5 {
    position: fixed;
    background-color: rgb(126, 74, 255);
    inset: 50%  auto auto 50% ;
    transform: translate(-50%, -50%);
}

.title__color{
    background-color: blueviolet;
    position: sticky;
    top: 0px;
}