
/* Reset general */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: 600;
}

body {
    background-color: rgb(22, 22, 22);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80%;
}

/* Contenido completo del body */
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
}

/* Div Titulo - párrafo - imagen */
.title {
    position: relative;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    gap: .7rem;
    transition: color .6s ease;
}

.title.active {
    color: rgb(237, 237, 237);
}

.title.desactive {
    color: rgba(209, 209, 209, 0.371);
}

/* Texto */
.title__h2 {
    z-index: 1;
     font-size: clamp(2vw, 4vw, 7.8vw);       /* Se ajuste segun el tamaño */
    font-family: 'Montserrat', sans-serif;
}

.title__p {
    z-index: 1;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 100;
}

/* Imagenes con transición de escala y opacidad*/
.title__img {
    background-size: cover;
    pointer-events: none;
    position: fixed;
    inset: 0;
    width: auto;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    transform: scale(1) translateX(0);      
    transition:transform 20s ease, opacity .6s ease;
}

.title__img.active {
    opacity: 1;
    transform: scale(1.08) translateX(3%);
    mask-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.711) 0%,
        rgb(0, 0, 0) 100%
    );
}

.title__img.desactive {
    opacity: 0;
}

