/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.logo {
    height: 50px;
    width: auto;
}

nav {
    height: 75px;
    background-color: rgb(51, 51, 51);
}

ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;

}

li {
    display: inline;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 147, 147);
}


.found {
    background-image: 
        linear-gradient(to right, rgb(43, 29, 38), rgba(255, 255, 255, 0)),
        url("../images/found.jpg");
    background-size: cover;
    height: calc(100vh - 125px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    width: 40%;
}

.container>p, .container>h1, .container>img, .container>button {
    margin: 15px 100px;
}

.container>p{
    font-size: x-small;
}

.container>img{
    display: block;
    padding: 20px 100px;
    height: 200px;
}

button {
    padding: 20px 40px;
    border: none;
    background-color: rgb(152, 42, 106);
    color: white;
    cursor: pointer;
    border-radius: 1rem ;
    font-size: medium;
}

button:hover {
    background-color: rgb(151, 94, 127);
}



footer {
    display: flex;
    align-items: center;
    justify-content: center;;
    color: white;
    background-color: rgb(51, 51, 51);
    height: 50px;
}