* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
    text-align: center;
    margin: 1rem;
    color: blueviolet;
}
div {
    width: 100%;
    margin: 2rem 0;
}

.d__flex{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
button{
    background-color: rgb(226, 43, 177);
    color: white;
    padding: .4rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(223, 87, 187);
}

p{
    border-radius: .4rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.divSize {
    width: 20vw;
    height: 20vw;
    border: 3px solid violet;
    border-radius: 1rem;
}

/*Nivel 2*/
.divV {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border-radius: .6rem;
}

/*Nivel 3*/
.divColorAle {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    border-radius: .6rem;
}
