/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    border-radius: .9em;
    width: 90%;
    height: 300px;
    max-width: 120em;
    padding: 1em;
    background-color: #e7e6e6;
    box-shadow: .5rem .5rem 1rem #bebebe,
        -.5rem -.5rem 1rem #ffffff;
}

.contenedor .ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.contenedor .li {
    background-color: #e7e6e6;
    padding: .7em;
    margin: 1em;
    list-style: none;
    cursor: pointer;
    transition: all .5s ease;
    border-radius: .5rem;
    box-shadow: .5rem .5rem 1rem #bebebe,
        -.5rem -.5rem 1rem #ffffff;
}

.contenedor .li.active {
    background-color: #37a8ee;
    color: white;
}

.contenedor .subcontenedor {
    min-height: 10vh;
    padding: 1em;
    position: relative;
}

.contenedor .bloque {
    padding: 1em;
    margin: 1em;
    top: 2em;
    position: absolute;
    opacity: 0;
    transform: translateY(50%);
    transition: all .5s ease;
}

.contenedor .bloque.active {
    opacity: 1;
    transform: translateY(0%);
    border-radius: .5rem;
    background-color: #e7e6e6;
    box-shadow: .5rem .5rem 1rem #bebebe,
        -1rem -1rem 1rem #ffffff;
}